basePath: /api/v1
definitions:
  auth.ErrorResponse:
    properties:
      data: {}
      message:
        example: Некорректные данные
        type: string
    type: object
  auth.LoginRequest:
    properties:
      email:
        example: john.doe@example.com
        type: string
      password:
        example: securepass
        type: string
    type: object
  auth.LoginResponse:
    properties:
      data:
        additionalProperties:
          type: string
        type: object
      message:
        example: Пользователь успешно авторизован
        type: string
    type: object
  auth.LogoutResponse:
    properties:
      message:
        example: Успешный выход из системы
        type: string
    type: object
  auth.OnlineListResponse:
    properties:
      data:
        items:
          type: string
        type: array
      message:
        example: Список ID-шников онлайн пользователей
        type: string
    type: object
  auth.ProfileResponse:
    properties:
      data:
        $ref: '#/definitions/user.User'
      message:
        example: Данные о пользователе
        type: string
    type: object
  auth.RefreshResponse:
    properties:
      data:
        additionalProperties:
          type: string
        type: object
      message:
        example: Токен успешно обновлён
        type: string
    type: object
  auth.RegisterRequest:
    properties:
      email:
        example: john.doe@example.com
        type: string
      password:
        example: securepass
        type: string
    type: object
  auth.RegisterResponse:
    properties:
      data:
        $ref: '#/definitions/user.User'
      message:
        example: Пользователь успешно зарегистрирован
        type: string
    type: object
  cargo.Cargo:
    properties:
      cargoNumber:
        type: string
      createdAt:
        type: string
      date:
        type: string
      driver:
        type: string
      id:
        type: integer
      loadUnloadDate:
        type: string
      paymentStatus:
        type: string
      payoutAmount:
        type: number
      payoutDate:
        type: string
      payoutTerms:
        type: string
      transportationInfo:
        type: string
      truckId:
        type: integer
    required:
    - cargoNumber
    - driver
    - transportationInfo
    - truckId
    type: object
  cargo.CreateResponse:
    properties:
      data:
        $ref: '#/definitions/cargo.Cargo'
      message:
        example: Груз успешно создан
        type: string
    type: object
  cargo.DeleteResponse:
    properties:
      data: {}
      message:
        example: Груз успешно удалён
        type: string
    type: object
  cargo.ErrorResponse:
    properties:
      data: {}
      message:
        example: Невалидный формат JSON
        type: string
    type: object
  cargo.GetResponse:
    properties:
      data:
        $ref: '#/definitions/cargo.Cargo'
      message:
        example: Данные о грузе
        type: string
    type: object
  cargo.ListResponse:
    properties:
      data:
        items:
          $ref: '#/definitions/cargo.Cargo'
        type: array
      message:
        example: Список всех грузов
        type: string
    type: object
  truck.ErrorResponse:
    properties:
      data: {}
      message:
        example: Невалидный формат JSON
        type: string
    type: object
  truck.GetResponse:
    properties:
      data:
        items:
          $ref: '#/definitions/truck.Truck'
        type: array
      message:
        example: Машина
        type: string
    type: object
  truck.ListResponse:
    properties:
      data:
        items:
          $ref: '#/definitions/truck.Truck'
        type: array
      message:
        example: Список всех машин
        type: string
    type: object
  truck.Truck:
    properties:
      createdAt:
        type: string
      id:
        type: integer
      name:
        type: string
    type: object
  user.DeleteResponse:
    properties:
      data: {}
      message:
        example: Пользователь успешно удалён
        type: string
    type: object
  user.ErrorResponse:
    properties:
      data: {}
      message:
        example: Невалидный формат JSON
        type: string
    type: object
  user.GetResponse:
    properties:
      data:
        $ref: '#/definitions/user.User'
      message:
        example: Пользователь
        type: string
    type: object
  user.ListResponse:
    properties:
      data:
        items:
          $ref: '#/definitions/user.User'
        type: array
      message:
        example: Список пользователей
        type: string
    type: object
  user.Role:
    enum:
    - USER
    - ADMIN
    type: string
    x-enum-varnames:
    - RoleUser
    - RoleAdmin
  user.User:
    properties:
      createdAt:
        type: string
      email:
        type: string
      id:
        type: integer
      password:
        minLength: 6
        type: string
      role:
        $ref: '#/definitions/user.Role'
      username:
        minLength: 3
        type: string
    required:
    - email
    - password
    - username
    type: object
host: localhost:8080
info:
  contact: {}
  description: This is the API for the Cargo Project
  title: Cargo Project API
  version: "1.0"
paths:
  /cargos:
    get:
      consumes:
      - application/json
      description: Retrieves a list of all cargos in the system
      produces:
      - application/json
      responses:
        "200":
          description: List of cargos
          schema:
            $ref: '#/definitions/cargo.ListResponse'
        "500":
          description: Internal server error
          schema:
            $ref: '#/definitions/cargo.ErrorResponse'
      security:
      - BearerAuth: []
      summary: List all cargos
      tags:
      - cargos
    post:
      consumes:
      - application/json
      description: Creates a new cargo with the provided details
      parameters:
      - description: Cargo object to be created
        in: body
        name: cargo
        required: true
        schema:
          $ref: '#/definitions/cargo.Cargo'
      produces:
      - application/json
      responses:
        "201":
          description: Cargo successfully created
          schema:
            $ref: '#/definitions/cargo.CreateResponse'
        "400":
          description: Invalid JSON format
          schema:
            $ref: '#/definitions/cargo.ErrorResponse'
        "500":
          description: Internal server error
          schema:
            $ref: '#/definitions/cargo.ErrorResponse'
      security:
      - BearerAuth: []
      summary: Create a new cargo
      tags:
      - cargos
  /cargos/{id}:
    delete:
      consumes:
      - application/json
      description: Deletes a cargo by its ID
      parameters:
      - description: Cargo ID
        in: path
        name: id
        required: true
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: Cargo deleted
          schema:
            $ref: '#/definitions/cargo.DeleteResponse'
        "400":
          description: Invalid ID
          schema:
            $ref: '#/definitions/cargo.ErrorResponse'
        "500":
          description: Internal server error
          schema:
            $ref: '#/definitions/cargo.ErrorResponse'
      security:
      - BearerAuth: []
      summary: Delete a cargo by ID
      tags:
      - cargos
    get:
      consumes:
      - application/json
      description: Retrieves a cargo by its ID
      parameters:
      - description: Cargo ID
        in: path
        name: id
        required: true
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: Cargo found
          schema:
            $ref: '#/definitions/cargo.GetResponse'
        "400":
          description: Invalid ID
          schema:
            $ref: '#/definitions/cargo.ErrorResponse'
        "500":
          description: Internal server error
          schema:
            $ref: '#/definitions/cargo.ErrorResponse'
      security:
      - BearerAuth: []
      summary: Get a cargo by ID
      tags:
      - cargos
    patch:
      consumes:
      - application/json
      description: Updates a cargo by its ID
      parameters:
      - description: Cargo ID
        in: path
        name: id
        required: true
        type: integer
      - description: Cargo object to be updated
        in: body
        name: cargo
        required: true
        schema:
          $ref: '#/definitions/cargo.Cargo'
      produces:
      - application/json
      responses:
        "200":
          description: Cargo updated
          schema:
            $ref: '#/definitions/cargo.GetResponse'
        "400":
          description: Invalid ID
          schema:
            $ref: '#/definitions/cargo.ErrorResponse'
        "500":
          description: Internal server error
          schema:
            $ref: '#/definitions/cargo.ErrorResponse'
      security:
      - BearerAuth: []
      summary: Update a cargo by ID
      tags:
      - cargos
  /login:
    post:
      consumes:
      - application/json
      description: Authenticates a user and returns access and refresh tokens
      parameters:
      - description: User credentials
        in: body
        name: credentials
        required: true
        schema:
          $ref: '#/definitions/auth.LoginRequest'
      produces:
      - application/json
      responses:
        "200":
          description: User successfully authenticated
          schema:
            $ref: '#/definitions/auth.LoginResponse'
        "400":
          description: Invalid input
          schema:
            $ref: '#/definitions/auth.ErrorResponse'
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/auth.ErrorResponse'
      summary: User login
      tags:
      - auth
  /logout:
    post:
      consumes:
      - application/json
      description: Logs out a user and clears the refresh token cookie
      produces:
      - application/json
      responses:
        "200":
          description: User successfully logged out
          schema:
            $ref: '#/definitions/auth.LogoutResponse'
      summary: User logout
      tags:
      - auth
  /online:
    get:
      consumes:
      - application/json
      description: Retrieves a list of user IDs who are currently online
      produces:
      - application/json
      responses:
        "200":
          description: List of online user IDs
          schema:
            $ref: '#/definitions/auth.OnlineListResponse'
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/auth.ErrorResponse'
        "500":
          description: Internal server error
          schema:
            $ref: '#/definitions/auth.ErrorResponse'
      security:
      - BearerAuth: []
      summary: List online users
      tags:
      - auth
  /profile:
    get:
      consumes:
      - application/json
      description: Retrieves user profile information
      produces:
      - application/json
      responses:
        "200":
          description: User profile information
          schema:
            $ref: '#/definitions/auth.ProfileResponse'
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/auth.ErrorResponse'
        "404":
          description: User not found
          schema:
            $ref: '#/definitions/auth.ErrorResponse'
        "500":
          description: Internal server error
          schema:
            $ref: '#/definitions/auth.ErrorResponse'
      security:
      - BearerAuth: []
      summary: User profile
      tags:
      - auth
  /refresh:
    post:
      consumes:
      - application/json
      description: Refreshes access token using refresh token stored in cookie
      produces:
      - application/json
      responses:
        "200":
          description: Token successfully refreshed
          schema:
            $ref: '#/definitions/auth.RefreshResponse'
        "401":
          description: Invalid or missing refresh token
          schema:
            $ref: '#/definitions/auth.ErrorResponse'
        "500":
          description: Internal server error
          schema:
            $ref: '#/definitions/auth.ErrorResponse'
      summary: Refresh access token
      tags:
      - auth
  /register:
    post:
      consumes:
      - application/json
      description: Registers a new user with email and password
      parameters:
      - description: User credentials
        in: body
        name: credentials
        required: true
        schema:
          $ref: '#/definitions/auth.RegisterRequest'
      produces:
      - application/json
      responses:
        "201":
          description: User successfully registered
          schema:
            $ref: '#/definitions/auth.RegisterResponse'
        "400":
          description: Invalid input
          schema:
            $ref: '#/definitions/auth.ErrorResponse'
      summary: Register a new user
      tags:
      - auth
  /trucks:
    get:
      consumes:
      - application/json
      description: Retrieves a list of all trucks in the system
      produces:
      - application/json
      responses:
        "201":
          description: List of trucks
          schema:
            $ref: '#/definitions/truck.ListResponse'
        "404":
          description: Trucks not found
          schema:
            $ref: '#/definitions/truck.ErrorResponse'
      security:
      - BearerAuth: []
      summary: List all trucks
      tags:
      - trucks
    post:
      consumes:
      - application/json
      description: Creates a new truck with the provided details
      parameters:
      - description: Truck object to be created
        in: body
        name: truck
        required: true
        schema:
          $ref: '#/definitions/truck.Truck'
      produces:
      - application/json
      responses:
        "201":
          description: Cargo successfully created
          schema:
            $ref: '#/definitions/cargo.CreateResponse'
        "400":
          description: Invalid JSON format
          schema:
            $ref: '#/definitions/cargo.ErrorResponse'
        "500":
          description: Internal server error
          schema:
            $ref: '#/definitions/cargo.ErrorResponse'
      security:
      - BearerAuth: []
      summary: Create a new truck
      tags:
      - trucks
  /trucks/{id}:
    get:
      consumes:
      - application/json
      description: Retrieves a truck by their ID
      parameters:
      - description: Truck ID
        in: path
        name: id
        required: true
        type: integer
      produces:
      - application/json
      responses:
        "201":
          description: Truck found
          schema:
            $ref: '#/definitions/truck.GetResponse'
        "400":
          description: Invalid ID
          schema:
            $ref: '#/definitions/truck.ErrorResponse'
        "404":
          description: Truck not found
          schema:
            $ref: '#/definitions/truck.ErrorResponse'
      security:
      - BearerAuth: []
      summary: Get a truck by ID
      tags:
      - trucks
  /users:
    get:
      consumes:
      - application/json
      description: Retrieves a list of all users in the system
      produces:
      - application/json
      responses:
        "201":
          description: List of users
          schema:
            $ref: '#/definitions/user.ListResponse'
        "404":
          description: Users not found
          schema:
            $ref: '#/definitions/user.ErrorResponse'
      security:
      - BearerAuth: []
      summary: List all users
      tags:
      - users
  /users/{id}:
    delete:
      consumes:
      - application/json
      description: Deletes a user by their ID
      parameters:
      - description: User ID
        in: path
        name: id
        required: true
        type: integer
      produces:
      - application/json
      responses:
        "201":
          description: User deleted
          schema:
            $ref: '#/definitions/user.DeleteResponse'
        "400":
          description: Invalid ID
          schema:
            $ref: '#/definitions/user.ErrorResponse'
        "404":
          description: User not found
          schema:
            $ref: '#/definitions/user.ErrorResponse'
      summary: Delete a user by ID
      tags:
      - users
    get:
      consumes:
      - application/json
      description: Retrieves a user by their ID
      parameters:
      - description: User ID
        in: path
        name: id
        required: true
        type: integer
      produces:
      - application/json
      responses:
        "201":
          description: User found
          schema:
            $ref: '#/definitions/user.GetResponse'
        "400":
          description: Invalid ID
          schema:
            $ref: '#/definitions/user.ErrorResponse'
        "404":
          description: User not found
          schema:
            $ref: '#/definitions/user.ErrorResponse'
      summary: Get a user by ID
      tags:
      - users
securityDefinitions:
  BearerAuth:
    description: Bearer token for authenticated requests
    in: header
    name: Authorization
    type: apiKey
swagger: "2.0"
